<div class="container"> 
    <div class="row mt-4">
        <div class="col-md-12 text-center border border-primary" style="padding-bottom: 20px;">
            <h2>Welcome</h2>
        </div>
    </div>

    <div class="row mt-3">
        <!-- Middle Section (Game on Top in Mobile) -->
        <div class="col-12 col-md-6 order-1 order-md-2 text-center">
            
            <app-play-game></app-play-game>
        </div>

        <!-- Left Section (Fact & Trivia, below Game on Mobile) -->
        <div class="col-12 col-md-3 order-2 order-md-1">
            <div class="card random-fact">
                <app-random-fact></app-random-fact>
            </div>
            <div class="card random-fact">
                <app-weather></app-weather>
            </div>
        </div>

        <!-- Right Section (Weather & Time, bottom in Mobile) -->
        <div class="col-12 col-md-3 order-3 order-md-3">
            <div class="card random-fact">
                <app-random-trivia></app-random-trivia>
            </div>
            <div class="card random-fact">
                <app-world-time></app-world-time>
            </div>
        </div>
    </div>
</div>
